# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules
npm-debug.log
yarn-error.log
.pnp
.pnp.js
/out-stc

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.DS_Store
*.pem

# System files
.DS_Store
Thumbs.db

# Production
/buid

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env

# Prisma
migrations
