# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/
.swcrc

# Ignore coverage reports
coverage/

# Ignore compiled TypeScript files
*.js

# Ignore editor configuration files
.editorconfig

# Ignore ESLint configuration files
.eslintrc.cjs

# Ignore Prettier configuration files
.prettierrc
.prettierignore

# Ignore Gitignore file
.gitignore
.gitattributes

# Ignore Documentation files
*.md

# Ignore Docker files
docker-compose.yml

# Package files
package.json
package-lock.json
pnpm-lock.yaml

# Ignore vscode settings
.vscode/

# Ignore Husky configuration files
.husky/

# Ignore ci/cd configuration files
.github/
